body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
  font-family: Arial, sans-serif;
}
canvas{display:block}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #35fc04;
  font-family: "Source Sans Pro";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}

p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Source Sans Pro";
  font-size: 2em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  color: rgb(255, 251, 0);
  background-image: linear-gradient(90deg, rgb(255, 81, 0) 0%, rgb(68, 0, 255) 100%);
  
}
h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Source Sans Pro";
  font-size: 3em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  color: rgb(255, 0, 0);
  
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.2em;
    top: 22%;
  }

  h2 {
    font-size: 1.6em;
    top: 38%;
  }

  p {
    font-size: 1.1em;
    top: 60%;
    width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size: 3.5em;
    top: 22%;
  }

  h2 {
    font-size: 2.4em;
    top: 40%;
  }

  p {
    font-size: 1.6em;
    top: 60%;
    width: 80%;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 5em;
    top: 20%;
  }

  h2 {
    font-size: 3em;
    top: 40%;
  }

  p {
    font-size: 2em;
    top: 60%;
    width: 70%;
  }
}
